<!DOCTYPE html>
<html>
<head>
  <title>Does Smile Have Meatballs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Does Smile Have Meatballs" />
  <meta property="og:description" content="<%=@meatballs ? 'YES' : 'NO' %>" />
</head>
<body>

<%= yield %>

</body>
</html>
